<div class="center">
  <h1>Trang web đầu tiên cùng với Angular</h1>

  <div class="container">
      <div class="caption">
          <h4>Thông tin sinh viên</h4>
          <img src="assets/img/{{student.anh}}" alt="anh nen">
      </div>

      <ul>
          <li><span>Họ tên: </span> {{student.hoten}}</li>
          <li><span>Ngày sinh: </span> {{student.ngaysinh}}</li>
          <li><span>Giới tính: </span> {{student.gioitinh}}</li>
          <li><span>Điểm trung bình: </span> {{student.diemtb}}</li>
      </ul>
  </div>
</div>
